<li>
    <time class="cbp_tmtime">
    	<span><%= pledge_class_entry.semester %> <%= pledge_class_entry.year %></span>
    	
    	<span><%= pledge_class_entry.classname %></span>

    </time>

    <div class="cbp_tmicon cbp_tmicon-phone"></div>
    <div class="cbp_tmlabel">
        <p><%= pledge_class_entry.members.split(";").map(&:strip).sort.join(" | ") %></p>
    </div>
</li>