<style>

  .about-header {
    font-weight:500; 
    font-size: 26px; 
    line-height: 25px; 
    margin-left: 80px; 
    margin-right: 80px;
    text-align: left;
  }

  .about-body {
    font-size:13px;
    margin-left: 80px; 
    margin-right: 80px; 
    line-height: 24px;
    text-align: left;
  }

  .thumbnails {
    margin-left: 80px; 
    margin-right: 80px; 
  }


  @media (max-width: 767px) {

    .about-header {
      margin-left: 15px;
      margin-right: 15px;
      font-size: 22px;
      text-align: center;
    }

    .about-body {
      margin-left: 15px;
      margin-right: 15px;
      font-size: 11px;
      line-height: 18px;
      text-align: center;
    }

  }

</style>



<!-- Content -->

<% provide(:title, 'About Us') %>

<img src=<%= asset_path("berk_5.jpg")%> alt="berk_5.jpg" style="box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);" />
<br />
<br />

<div class="account-wall-static">  

  <div id="intro">

    <h1>About Us</h1>
    <h3>Alpha Kappa Psi, Alpha Beta Chapter</h3>
    <br />
    <div id="motto-bg">
      <h3>"Shaping people, shaping business"</h3>
    </div>

    <hr />

    <br />

    <h2 class="about-header"> AKΨ: Fraternity History</h2>

    <p class="about-body">
      In 1904, four men at New York University came together to found the nation's first professional business fraternity, Alpha Kappa Psi. Driven by a spirit of brotherhood and a vision of uniting people with common business interests, the "Brooklyn Four" created Alpha Kappa Psi as an organization that would foster both the personal and professional growth of its members - providing skills, knowledge, and opportunities beyond the classroom. <i>Today, Alpha Kappa Psi is the largest fraternity in the United States and is also the only business fraternity with international chapters. Worldwide, there are over 295 college chapters, 90 alumni chapters, and 200,000 members, all dedicated to the same brotherhood and professional development that first motivated the "Brooklyn Four."</i>
    </p>

    <br />

    <!-- Famous alumni thumbnails -->
    <!-- <ul class="thumbnails">
      
      <li class="span2">
        <a href="#" class="thumbnail">
          <img data-src="holder.js/260x180" alt="">
        </a>
      </li>
      <li class="span2">
        <a href="#" class="thumbnail">
          <img data-src="holder.js/260x180" alt="">
        </a>
      </li>
    
    </ul> -->

    <hr />
    <br />

    <h2 class="about-header" style="color:#B8B8B8;"> Mission Statement</h2>

    <p class="about-body">
      Alpha Kappa Psi provides brothers with professional guidance throughout their college years to ensure that upon graduation, they are all equipped with a skill set necessary to survive in any work environment. Through interview training, resume building, public speaking workshops and a one-on-one mentorship program, Alpha Kappa Psi develops the business leaders of the future.
      <i>As alumni, we join the work force as bankers and accountants, advertisers and consultants, doctors and lawyers, engineers and entrepreneurs. We live in foreign countries, we give back to our communities, and we explore the world. We invite you to join our brotherhood and become a part of the lifelong experience that is Alpha Kappa Psi.</i>
    </p>
    
    <br />
    <hr />
    <br />

    <h2 class="about-header"> The Alpha Beta Chapter</h2>

    <p class="about-body">
      Alpha Kappa Psi was first established in UC Berkeley on March 8, 1921, making it the oldest business organization on campus. The Alpha Beta Chapter is your glimpse into Alpha Kappa Psi's international brotherhood. It is an open door to your future success and the lifelong friends who will be there when you find it. Our brothers hail from all majors and backgrounds, producing a uniqueness that extends into our vast alumni network. You can find us up on the hill at Haas, in the basement of Soda, in the sun on Sproul, and in the crowd at Memorial Stadium. You can find us in downtown Manhattan, in high rises in Hong Kong, in the suburbs of Ukraine, and on the sunny islands of Hawaii. While we have widely different personal goals, what we share is the common passion to reach them. <i>Alpha Kappa Psi is where professionalism and brotherhood meet. We invite you to join us at the intersection.</i>
    </p>

    <br />
    <hr />
    <br />

    <h2 class="about-header" style="color:#B8B8B8;">Our Purpose</h2>

    <p class="about-body">
      United by educational and career goals, the founders of the Alpha Beta Chapter envisioned the fraternity as a framework for development, networking, and brotherhood that previously could not be found in any classroom or club. Our chapter has since expanded greatly. We have earned a campus-wide reputation for professionalism and have alumni working at top corporations around the world. Some of our numerous activities include co-sponsoring the Big Four Forum, hosting industry information forums, and sponsoring case competitions on campus. In 2002, we also introduced Alpha Beta Consulting (ABC), a non-profit student consulting group, to get hands-on consulting experience while giving back to the community. In 2007, Berkeley Corporate Solutions (BCS) was launched as the business-side consulting arm of our chapter. Since its inception, BCS has gone on to work with major clients including Salesforce, Agilent, and Cisco Systems. As a result of our continuous strides toward excellence, Alpha Beta Chapter was awarded the Chapter of the Year award in 2004.<br /><br />

      One unique aspect of the Alpha Beta Chapter is our recognition that professional skills and basic understandings of business fields are essential to a wide variety of careers. From our founding, we have embraced the diversity of the UC Berkeley campus and take pride in the fact that we have brothers from a wide range of backgrounds. <br /><br /><i>Alpha Kappa Psi, Alpha Beta Chapter, is a student organization sponsored by the Walter A. Haas School of Business Undergraduate Program.</i>
    </p>


  </div>

</div>