<style>

  #about-body {
    font-size:13px;
    text-align:left; 
    margin-left: 60px; 
    margin-right: 60px; 
    line-height: 24px;
  }

</style>



<!-- Content -->

<% provide(:title, 'About Us') %>

<!-- <img src=<%= asset_path("berk_6.jpg")%> alt="berk_4.jpg" style="box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);" /> -->

<div class="account-wall-static">  

  <div id="intro">

    <h1>About Us</h1>
    <h3>Alpha Kappa Psi, Alpha Beta Chapter</h3>
    <br />
    <div id="motto-bg">
      <h3>"Shaping people, shaping business"</h3>
    </div>

    <hr />

    <br />

    <h1 style="font-weight:500; font-size: 24px; line-height: 25px;"> AKΨ: Fraternity History</h1>

    <p id="about-body">
      Alpha Kappa Psi Fraternity is the world's oldest and largest professional fraternity, with an international network spanning across all geographies, careers, and backgrounds. We provide our brothers with professional guidance throughout their college years to ensure that upon graduation, we are each equipped with a skill set necessary to survive in any work environment. Through interview training, resume building, public speaking workshops and a one-on-one mentorship program, Alpha Kappa Psi develops the business leaders of the future. As alumni, we join the work force as bankers and accountants, advertisers and consultants, doctors and lawyers, engineers and entrepreneurs. We live in foreign countries, we give back to our communities, and we explore the world. We invite you to join our brotherhood and become a part of the lifelong experience that is Alpha Kappa Psi.
    </p>
    
    <br />
    <hr />
    <br />

    <h1 style="font-weight:500; font-size: 24px; line-height: 25px;"> The Alpha Beta Chapter</h1>

    <p id="about-body">
      The Alpha Beta Chapter at the University of California Berkeley is your glimpse into Alpha Kappa Psi's international brotherhood. It is an open door to your future success and the lifelong friends who will be there when you find it. Our brothers hail from all majors and backgrounds, producing a uniqueness that extends into our vast alumni network. You can find us up on the hill at Haas, in the basement of Soda, in the sun on Sproul, and in the crowd at Memorial Stadium. You can find us in downtown Manhattan, in high rises in Hong Kong, in the suburbs of Ukraine, and on the sunny islands of Hawaii. While we have widely different personal goals, what we share is the common passion to reach them. Alpha Kappa Psi is where professionalism and brotherhood meet. We invite you to join us at the intersection.
    </p>

  </div>

</div>