<% provide(:title, 'Pledge Classes') %>

<div class="account-wall-static">

	<div id="intro">

	    <h1>Pledge Classes</h1>
	    <br />

	</div>

	<ul class="cbp_tmtimeline">
		<% @pledgeclasses.each do |pledge_class_entry| %>
			<!-- Partial located at views/pledge_class_entries/_pledge_class_entry.html.erb -->
			<%= render pledge_class_entry %>

		<% end %>
	</ul>
</div>
