<% provide(:title, 'Consulting') %>

<div class="account-wall-static">  

  <div id="intro">

    <h1>Consulting</h1>
    <h3>ABC/BCS</h3>
    <br />
    <div id="motto-bg">
      <h3>"Alpha Beta Consulting - Berkeley Corporate Solutions"</h3>
    </div>

  </div>

</div>