
<% provide(:title, 'Corporate') %>

<div class="account-wall-static">  

  <div id="intro">

    <h1>Corporate</h1>
    <h3>Partnership Program</h3>
    <br />

  </div>

<hr />
<br />

<h2 class="about-header"> Sponsorship Information</h2>

    <p class="about-body">
      Thank you for your interest in partnering with Alpha Kappa Psi, a distinguished professional business fraternity at the University of California, Berkeley. As one of the elite student business organizations on campus, Alpha Kappa Psi can serve as a valuable liaison between your firm and the students of UC Berkeley. We can help your company strengthen its presence at this University and assist in effectively finding a concentration of the most qualified candidates for employment.<br /><br />

	Our relationship can begin with something as simple as your company link and logo on our website or go as far as co-hosting information sessions, career fairs, and case competitions. With our experience in a wide range of campus events, we can help you reach out to students through any method of your choice.<br /><br />

	To request for our Corporate Partnership Package, or to find out more information on forging a partnership with our chapter, please feel free to contact our Corporate Relations Directors at corporaterelations@calakpsi.com.
    </p>


</div>




