<noscript>
	<link rel="stylesheet" type="text/css" href="assets/carousel_no_js.css" />
</noscript>


<!-- Styles for content _below_ the carousel -->

<style>

    #intro {
    	padding:0 75px 0 0;
    }

    .row {
    	text-align: center;
    	margin-right: 0;
    	margin-left: -20px;
    }

    .row i {
    	color: #95bcb8;
    	font-size: 80px;
    }

	.tint-up-plugin {
		height:500px;
		width:100%; 
		-moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    	-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3); 
    	background:#fff;
	}

	.rush-link a,.rush-link a:visited {
    	font-weight:600;
    	font-family: 'Lato', sans-serif;
    	text-transform:uppercase;
    	line-height:40px;
    	letter-spacing:1px;
    	text-decoration:none;
    	background-color: #fff;
    	color:#000;
    	padding:5px 10px 5px 10px;
    	border:3px solid #fff;
    	border-radius:0px;
    	margin-left:7px;
    	margin-right:7px;
    	text-shadow:none;
    }

    
    .rush-link a:hover, .rush-link a:visited:hover {
    	border:3px solid #c8c8c8;
    	background: #c8c8c8;

    }


    @media (max-width: 767px) {

	    #intro {
	        padding: 0;
	    }

	    .row {
	        margin-left: 0;
	    }

    }


</style>



<!-- Carousel -->
<% cache("carousel") do %>
<div class="container demo-2" style="box-shadow: 0px 7px 14px rgba(0, 0, 0, 0.4);" >

	<div id="slider" class="sl-slider-wrapper">

		<div class="sl-slider">
		
			<div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">
				<div class="sl-slide-inner">
					<div class="bg-img bg-img-1"></div>
					<h2>Welcome to AKΨ</h2>
					
					<blockquote><p class="rush-link">Learn about
					<a href=<%= rush_path %> style=""> rush </a> 
			
					</p>
				</div>
			</div>
			
			<div class="sl-slide" data-orientation="vertical" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="1.5">
				<div class="sl-slide-inner">
					<div class="bg-img bg-img-2"></div>
					<h2>Professionalism</h2>
					<blockquote><p>"We were to form an organization which might find a great field of work in being of mutual assistance to each other in future business life."</p><cite>HOWARD M. JEFFERSON - FOUNDER, ALPHA KAPPA PSI</cite></blockquote>

				</div>
			</div>
			
			<div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="3" data-slice2-rotation="3" data-slice1-scale="2" data-slice2-scale="1">
				<div class="sl-slide-inner">
					<div class="bg-img bg-img-3"></div>
					<h2>Expanse</h2>
					<blockquote><p>Alpha Kappa Psi is both the <i>oldest</i> and <i>largest</i> business fraternity in the world, with over 200 active chapters worldwide.</p></blockquote>
				</div>
			</div>

		</div><!-- /sl-slider -->

		<nav id="nav-dots" class="nav-dots">
			<span class="nav-dot-current"></span>
			<span></span>
			<span></span>
		</nav>

	</div><!-- /slider-wrapper -->
</div>
<% end %>

<br />
<!-- Text -->

<div class="account-wall-static">

	<div class="container marketing">

		<div id="intro">
			  	<h1>ALPHA KAPPA PSI</h1>
			  	<h3>Co-ed Professional Business Fraternity</h3>
		</div>
		
		<br />
		<br />

		<div class="row">		  	

		    <div class="span4">
		      <i class="fa fa-users"></i>
		      <br />
		      <h4>BROTHERHOOD</h4>
		      <p>Alpha Kappa Psi is founded on brotherhood. Members form meaningful friendships with a multitude of people, from fellow students to faculty to local business leaders. Bonds formed between members are genuine and last a lifetime.</p>
		      <a class="home-button" href=<%= actives_path %>>View Actives</a>
		    </div>

		    <br class="media-linebreak" />
		    <br class="media-linebreak" />

		    <div class="span3">
		      <i class="fa fa-lightbulb-o"></i>
		      <br />
		      <h4>PROFESSIONALISM</h4>
		      <p>We help prepare our members to enter the professional world by establishing long lasting relationships with business partners and by fostering business skills.</p>
		      <a class="home-button" href=<%= careers_path %>>View Careers</a>
		    </div>

		    <br class="media-linebreak" />
		    <br class="media-linebreak" />

		    <div class="span4">
		      <i class="fa fa-globe"></i>
		      <br />
		      <h4>COMMUNITY SERVICE</h4>
		      <p>For us, giving back to society is a crucial aspect of our agenda. We accomplish this largely through one of our consulting arms, Alpha Beta Consulting, which assists local nonprofits in addressing pressing social problems.</p>
		      <a class="home-button" href=<%= consulting_path %>>View Consulting</a>
		    </div>

		    <br class="media-linebreak" />
		  	
		</div>
	      
	</div>
</div>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script type="text/javascript" src="assets/jquery.ba-cond.min.js"></script>
<script type="text/javascript" src="assets/jquery.slitslider.js"></script>

<script type="text/javascript">	
	$(function() {
	
		var Page = (function() {

			var $nav = $( '#nav-dots > span' ),
				slitslider = $( '#slider' ).slitslider( {
					onBeforeChange : function( slide, pos ) {

						$nav.removeClass( 'nav-dot-current' );
						$nav.eq( pos ).addClass( 'nav-dot-current' );

					}
				} ),

				init = function() {

					initEvents();
					
				},
				initEvents = function() {

					$nav.each( function( i ) {
					
						$( this ).on( 'click', function( event ) {
							
							var $dot = $( this );
							
							if( !slitslider.isActive() ) {

								$nav.removeClass( 'nav-dot-current' );
								$dot.addClass( 'nav-dot-current' );
							
							}
							
							slitslider.jump( i + 1 );
							return false;
						
						} );
						
					} );

				};

				return { init : init };

		})();

		Page.init();

	});
</script>