<noscript>
	<link rel="stylesheet" type="text/css" href="assets/carousel_no_js.css" />
</noscript>



<!-- Styles for content _below_ the carousel -->

<style>
	
	/* Adding responsitivity to content */

	/* MARKETING CONTENT
    -------------------------------------------------- */
    /* Center align the text within the three columns below the carousel */
    .marketing .span4 {
      text-align: center;
    }
    .marketing h2 {
      font-weight: normal;
      font-size: 40px;
    }
    .marketing .span4 p {
      margin-left: 10px;
      margin-right: 10px;
    }
    .marketing .span8 {
      text-align: center;
    }
    .marketing .span8 p {
      margin-left: 10px;
      margin-right: 10px;
    }



    /* Featurettes -- edit margin-right  */

    .featurette-divider {
      margin: 20px 0; /* Space out the Bootstrap <hr> more */
    }

    /* Give some space on the sides of the floated elements so text doesn't run right into it. */
    .featurette-image.pull-left {
      margin-right: 40px;
    }
    .featurette-image.pull-right {
      margin-left: 40px;
    }

    /* Thin out the marketing headings */
    .featurette-heading {
      margin-right: 40px;
    }

    .featurette .lead {
    	margin-right: 40px;
    }


    @media (max-width: 979px) {

      .container.navbar-wrapper {
        margin-bottom: 0;
        width: auto;
      }

      .featurette {
        height: auto;
        padding: 0;
      }

      .featurette-image.pull-left,
      .featurette-image.pull-right {
        display: block;
        float: none;
        max-width: 40%;
        margin: 0 auto 20px;
      }
    }


    @media (max-width: 767px) {

      .marketing .span4 + .span4 {
        margin-top: 40px;
      }

      .featurette-heading {
        font-size: 30px;
      }
      .featurette .lead {
        font-size: 18px;
        line-height: 1.5;
      }

    }


}
</style>



<!-- Carousel -->

<div class="container demo-2" style="box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);" >

	<div id="slider" class="sl-slider-wrapper">

		<div class="sl-slider">
		
			<div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">
				<div class="sl-slide-inner">
					<div class="bg-img bg-img-1"></div>
					<h2 style="text-shadow:2px 2px 3px #000; line-height: 100px;">RUSH AKPSI</h2>
					
					<blockquote><p style="text-shadow:1px 1px 2px #000; ">Meet the Chapter: January 31 | Bancroft Hotel</p><cite style="text-shadow:1px 1px 2px #000;">Spring 2014</cite></blockquote>
				</div>
			</div>
			
			<div class="sl-slide" data-orientation="vertical" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="1.5">
				<div class="sl-slide-inner">
					<div class="bg-img bg-img-2"></div>
					<h2>Regula aurea.</h2>
					<blockquote><p>Until he extends the circle of his compassion to all living things, man will not himself find peace.</p><cite>Albert Schweitzer</cite></blockquote>
				</div>
			</div>
			
			<div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="3" data-slice2-rotation="3" data-slice1-scale="2" data-slice2-scale="1">
				<div class="sl-slide-inner">
					<div class="bg-img bg-img-3"></div>
					<h2>Dum spiro, spero.</h2>
					<blockquote><p style="line-height: 30px;">Thousands of people who say they 'love' animals sit down once or twice a day to enjoy the flesh of creatures who have been utterly deprived of everything that could make their lives worth living and who endured the awful suffering and the terror of the abattoirs.</p><cite>Dame Jane Morris Goodall</cite></blockquote>
				</div>
			</div>
			
			<div class="sl-slide" data-orientation="vertical" data-slice1-rotation="-5" data-slice2-rotation="25" data-slice1-scale="2" data-slice2-scale="1">
				<div class="sl-slide-inner">
					<div class="bg-img bg-img-4"></div>
					<h2>Donna nobis pacem.</h2>
					<blockquote><p>The human body has no more need for cows' milk than it does for dogs' milk, horses' milk, or giraffes' milk.</p><cite>Michael Klaper M.D.</cite></blockquote>
				</div>
			</div>
			
			<div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="-5" data-slice2-rotation="10" data-slice1-scale="2" data-slice2-scale="1">
				<div class="sl-slide-inner">
					<div class="bg-img bg-img-5"></div>
					<h2>Acta Non Verba.</h2>
					<blockquote><p>I think if you want to eat more meat you should kill it yourself and eat it raw so that you are not blinded by the hypocrisy of having it processed for you.</p><cite>Margi Clarke</cite></blockquote>
				</div>
			</div>
		</div><!-- /sl-slider -->

		<nav id="nav-dots" class="nav-dots">
			<span class="nav-dot-current"></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
		</nav>

	</div><!-- /slider-wrapper -->
</div>


<br />

<!-- Text -->

<div class="account-wall-static">
	<div class="container marketing">

		  <!-- START THE FEATURETTES -->

		  <div class="featurette">
		    <img class="featurette-image pull-right" src=<%= asset_path("akpsi_color_200.png")%>>
		    <br />
		    <h2 class="featurette-heading">Alpha Kappa Psi: <span class="muted">Established in 1904</span></h2>
		    <p class="lead">Alpha Kappa Psi Fraternity is the world's <i>oldest</i> and <i>largest</i> professional fraternity, with an international network spanning across all geographies, careers, and backgrounds. <br /> <br />We provide our brothers with professional guidance throughout their college years to ensure that upon graduation, we are each equipped with a skill set necessary to survive in any work environment. </p>
		  </div>

		  <hr class="featurette-divider">

		  <div class="featurette">
		    <img class="featurette-image pull-left" src=<%= asset_path("akpsi_color_200.png")%>>
		    <h2 class="featurette-heading">Why AKΨ? <span class="muted">See for yourself.</span></h2>
		    <p class="lead">Cal is a big place, and it's easy to feel as if you are just a face in a large crowd. But there are many professional fraternities and clubs which can be your "home" in the University. By joining a group such as Alpha Kappa Psi, you'll have an instant network of peers and alumni who've faced the same challenges as you and who are ready to help you with your career.</p>
		  </div>

		  <hr class="featurette-divider">

		  <!-- /END THE FEATURETTES -->

		  <!-- Start of little columns -->
		  <div class="row">
		    <div class="span4">
		      <img class="img-circle" data-src="holder.js/140x140">
		      <h2>Heading</h2>
		      <p>As one of the elite student business organizations on campus, Alpha Kappa Psi can serve as a valuable liaison between your firm and the students of UC Berkeley. We can help your company strengthen its presence at this University and assist in effectively finding a concentration of the most qualified candidates for employment.</p>
		      <p><a class="btn" href="#">View details &raquo;</a></p>
		    </div><!-- /.span4 -->
		    <div class="span8">
		      <img class="img-circle" data-src="holder.js/140x140">
		      <h2>Heading</h2>
		      <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
		      <p><a class="btn" href="#">View details &raquo;</a></p>
		    </div><!-- /.span4 -->
		  </div><!-- /.row -->
	      
	</div><!-- /.container -->
</div>


<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script type="text/javascript" src="assets/jquery.ba-cond.min.js"></script>
<script type="text/javascript" src="assets/jquery.slitslider.js"></script>

<script type="text/javascript">	
	$(function() {
	
		var Page = (function() {

			var $nav = $( '#nav-dots > span' ),
				slitslider = $( '#slider' ).slitslider( {
					onBeforeChange : function( slide, pos ) {

						$nav.removeClass( 'nav-dot-current' );
						$nav.eq( pos ).addClass( 'nav-dot-current' );

					}
				} ),

				init = function() {

					initEvents();
					
				},
				initEvents = function() {

					$nav.each( function( i ) {
					
						$( this ).on( 'click', function( event ) {
							
							var $dot = $( this );
							
							if( !slitslider.isActive() ) {

								$nav.removeClass( 'nav-dot-current' );
								$dot.addClass( 'nav-dot-current' );
							
							}
							
							slitslider.jump( i + 1 );

							return false;
						
						} );
						
					} );


				};

				// Makes the slider autoplay when page loads
				return { init : init };

		})();
	
		Page.init();
		



		/**
		 * Notes: 
		 * 
		 * example how to add items:
		 */

		/*
		
		var $items  = $('<div class="sl-slide sl-slide-color-2" data-orientation="horizontal" data-slice1-rotation="-5" data-slice2-rotation="10" data-slice1-scale="2" data-slice2-scale="1"><div class="sl-slide-inner bg-1"><div class="sl-deco" data-icon="t"></div><h2>some text</h2><blockquote><p>bla bla</p><cite>Margi Clarke</cite></blockquote></div></div>');
		
		// call the plugin's add method
		ss.add($items);

		*/
	
	});
</script>