<div class="center hero-unit">
  <h1>UC Berkeley Alpha Kappa Psi | Home</h1>

  <h2>
	This is the home page for the UCB Alpha Kappa Psi website.
  </h2>

  <%= link_to "Actives: Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>
