<div class="account-wall-static">  
      <img class="about-img" src=<%= asset_path("akpsi_bw_200.png")%> alt="akpsi_bw_200">

      <p class="profile-name">AKΨ: Alpha Beta Chapter</p>
      <span class="profile-email">Active Signup</span><br />
</div>