
<!-- Content -->

<% provide(:title, 'Rush AKΨ') %>

<img src=<%= asset_path("berk_4.jpg")%> alt="berk_4.jpg" style="box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);" />

<br />
<br />

<div class="account-wall-static">

	<div id="intro">
		  	<h1>Alpha Kappa Psi</h1>
		  	<h3><%= @rushevents.first.semester %> Rush Calendar</h3>
		  	<br />
		  	<div id="motto-bg">
			  	<h3>"Alpha Kappa Psi is recognized as the premier developer of principled business leaders."</h3>
			</div>
			<br />
			<br />
	</div>

	<% @rushevents.each do |rush_event| %>
		<!-- Partial located at views/rush_events/_rush_event.html.erb -->
		<%= render rush_event %>

	<% end %>

</div>



