<style>

/*.man-suit-img {
	width: 100%;
	height: auto;
}*/

</style>

<% provide(:title, 'Rush AKΨ') %>
<h1>Rush AKΨ</h1>

<!-- <img class="man-suit-img" src=<%= asset_path("man_suit.png")%> alt="man_suit" /> -->