<div class="account-wall-static" style="font-family: 'Lato', sans-serif; text-align:center;">

	<h3><%= t("forem.admin.category.edit", :title => @category.name) %></h3>

	<%= render "form" %>

</div>
