
<!-- Content -->

<div class="thread-posts">

	<div id="textbox">
		<h5 class="alignleft"> <%= rusheepost.active.name %> </h5>
		<h6 class="alignright"> (posted <%= time_ago_in_words(rusheepost.created_at) %> ago) </h6>
	</div>
	<div style="clear: both;"></div>

	<span class="content"> <i class="fa fa-reply"></i>&nbsp;&nbsp; <%= rusheepost.content %></span> 
	<br /><br />

</div>