<li>
  <span class="content"><%= rusheepost.content %></span>
  <span class="timestamp">
  	Posted by <%= Active.find_by(rusheepost.active_id).name %> 
  </span>

  <%= rusheepost.created_at %>
</li>
