
<div class="thread-post">

	<p style="font-size:13px;"> <b><%= rusheepost.active.name %></b> <i>(posted <%= time_ago_in_words(rusheepost.created_at) %> ago):</i></p>

	<span class="content"> <i class="fa fa-reply"></i>&nbsp;&nbsp; <%= rusheepost.content %></span> 
	<br /><br />

</div>