<li>
  <span class="content"><%= rusheepost.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(rusheepost.created_at) %> ago by: <%= rusheepost.active.name %>
  </span>
</li>