<!-- Styling for thumbnails class and thumbnail 'li' elements -->

<style>

	.thumbnails {
	    text-align:center;
	}

	.thumbnails > li {
	    display: inline-block;
	    float: none; /* this is the part that makes it work */
	    text-align: left;
	}

</style>



<!-- Content -->

<% provide(:title, 'Active Brothers') %>

<div class="account-wall-static">

	<!-- Find actives that are on e-board -->

	<div id="intro">
	    <h1>Executive Board</h1>
	    <h3>Alpha Beta Chapter</h3>
	    <br />
	    <br />
	</div>

	<ul class="thumbnails">
	  <% @actives.each do |active| %>

	    <%= render active if (active.display_on_index? && active.photograph.exists? && !active.eboard.empty?) %>

	  <% end %>
	</ul>


	<!-- Find actives that are not on e-board -->

	<div id="intro">
	    <h1>Active Brothers</h1>
	    <h3>Alpha Beta Chapter</h3>
	    <br />
	    <br />
	</div>

	<ul class="thumbnails">
	  <% @actives.each do |active| %>

	    <%= render active if (active.display_on_index? && active.photograph.exists? && active.eboard.empty?) %>

	  <% end %>
	</ul>


	<!-- Deals with actives not pictured  -->

	<div id="intro">
		<h3>Actives not pictured:</h3><br />

		<% @actives.each do |active| %>

		    <% if (active.display_on_index? && !active.photograph.exists?) %>
		    	<p style="line-height:14px;"><%= active.name %></p>
		    <% end %>

	  <% end %>
	</div>


</div>


<script src="assets/modals/classie.js"></script>
<script src="assets/modals/modalEffects.js"></script>

