<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error">
      The form contains <%= pluralize(object.errors.count, "error") %>.
    </div>
    <ul style="list-style-type: none;">
      <% object.errors.full_messages.each do |msg| %>
        <li><i><%= msg %></i></li>
      <% end %>
    </ul>
  </div>
<% end %>