<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Congratulations, you've been approved as an active! How exciting.</h1>
<p>
  Your username is: <%= @user.email %>.<br/>
  To login to the site, just follow this link: <%= @url %>.
</p>
<p>Welcome to the fraternity, <%= @user.name %>, in U- and I-.</p>
</body>
</html>