<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h2>Thank you for taking part in Alpha Kappa Psi's Rush Process.</h2>

<p>
  Your rush application has been successfully received through the Rush Application Portal. If you wish to view your
  submitted application, please click
  <%= link_to "here", print_rush_application_url(@rush_application, confirmation: @rushee.password_digest), :method => :post %>. <br/>

  You may also edit your application by logging into the
  <%= link_to 'Rush Application Portal', rush_application_index_url %> with your username, <%= "#{@rushee.email}" %>. <br/>
  <br/>

  Please print your application and bring it with you on the day of your professional individual interview.
  As a reminder, appropriate interview attire is business professional.
  <br/>
  <br/>
  We look forward to speaking with you soon.
</p>

<p>
  For additional information, visit our website at <%= root_url %>.
</p>
</body>
</html>