<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h3>Watchdog Email:</h3>

<b>Subject:</b> <%= @watchdog_entry.subject %>  <br/>

<b>Body:</b> <%= @watchdog_entry.body %> <br/>

</body>
</html>

