<!DOCTYPE html>
<html>
	<head>
	  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		<h3>Welcome to Alpha Kappa Psi at Berkeley, <%= @user.name %></h3>
		<p>
		  You have successfully signed up as an active member at AKΨ's Alpha Beta Chapter.
		  Upon administrator confirmation, your account will become active. You will receive another email confirmation once an administrator approves your account.
		  Your username is: <%= @user.email %>.<br/>
		</p>
		<p>
		  To login to the site once you have been approved, just follow this link: <%= new_active_session_path %>.
		</p>
		<p>Thanks for joining and have a great day!</p>
	</body>
</html>