

/***** Active sign in, sign up, edit profile forms *****/

.form-sign-in-up
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    padding-top: 5px;
    text-align: center; 
}

.form-sign-in-up .form-control
{
    position: relative;
    font-size: 12px;
    height: auto;
    padding: 6px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

.form-edit-active
{
    max-width: 640px;
    padding: 15px;
    margin: 0 auto;
    padding-top: 5px;
    text-align: center; 
}

.form-edit-active .form-control
{
    position: relative;
    font-size: 12px;
    height: auto;
    padding: 6px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.account-wall
{
    margin-top: 20px;
    padding: 20px 0px 30px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.account-wall-edit
{
    margin-top: 20px;
    padding: 20px 0px 50px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img
{
    width: 160px;
    height: 160px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.profile-name {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    height: 1em;
}

.profile-email {
    display: block;
    padding: 0 8px;
    font-size: 15px;
    color: #404040;
    line-height: 2;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


/* Styles for all static pages */

.account-wall-static {
    
    padding: 20px 40px 40px 40px;
    background-color: #fff;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}

@media (max-width: 767px) {

    .account-wall-static {
        padding: 20px 20px 20px 20px;
    }

}

@media (max-width: 640px) {

    .account-wall-static {
        padding: 14px 14px 14px 14px;
    }

}


/* Used in 'home', 'rushevent', etc */

#intro {
    text-align: center;
    padding:0 0 0 0;
}

#intro h1 {
    
    font-size:3.3em;
    font-weight:505;
    font-family:"Open Sans",sans-serif;
    text-transform:uppercase;
    line-height:40px;
    letter-spacing:1.5px;
    color:#303030

}
#intro h3 {
    
    margin:-10px 0 0 0;
    font-size:1.5em;
    font-weight:400;
    font-family:"Open Sans", sans-serif;
    text-transform:uppercase;
    line-height:20px;
    letter-spacing:1px;
    color:#666
}

#motto-bg h3 {
    font-family: 'Italianno', cursive; 
    text-transform:none; 
    font-size: 22px;
    color: #A8A8A8;
}

@media (max-width: 767px) {

    #motto-bg h3 {
        font-size: 18px;
    }

}

/* Text styling for static pages */

.about-header {
    font-weight:500; 
    font-size: 26px; 
    line-height: 25px; 
    margin-left: 80px; 
    margin-right: 80px;
    text-align: left;
}

.about-body {
    font-size:13px;
    margin-left: 80px; 
    margin-right: 80px; 
    line-height: 24px;
    text-align: left;
}


@media (max-width: 767px) {

    .about-header {
      margin-left: 15px;
      margin-right: 15px;
      font-size: 22px;
      text-align: center;
    }

    .about-body {
      margin-left: 15px;
      margin-right: 15px;
      font-size: 11px;
      line-height: 18px;
      text-align: center;
    }

}