<style>
	.thumbnails {
	    text-align:center;
	}

	.thumbnails > li {
	    display: inline-block;
	    float: none; /* this is the part that makes it work */
	    text-align: left;
	}

</style>


<% provide(:title, 'Rushees') %>

<div class="account-wall-static">  

  <div id="intro">

    <h1>Rushees</h1>
    <h3><%= @rushsemester %></h3>
    <br />


	<ul class="thumbnails">
	  <% @rushees.each do |rushee| %>


	  	<li>
	        <%= link_to( image_tag( rushee.photograph(:middlesmall)), rushee) %>
	    </li>

	  <% end %>
	</ul>


  </div>
</div>