<% provide(:title, @rushee.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
      	<%= @rushee.name %>
        <%= @rushee.email %>
		<%= @rushee.grade %>
		<%= @rushee.major %>
      </h1>
    </section>
  </aside>
</div>